<div class="header">
    <h1>
        WILLOW WATERS ILLUSTRATIONS    
    </h1>
</div>
<div>
<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="over" [(opened)]="opened">
      Menu
      <span>
          <button (click)="sidenav.close()">
              <mat-icon>close</mat-icon>
          </button>
      </span>
      <li>
        <span>
            <a routerLink='/about'>
            About</a></span>
      </li>
      <li>
        <span>
            <a routerLink='/shop'>
            Shop</a></span>
      </li>
      <li>
        <span>
            <a routerLink='/gallery'>
            Gallery</a></span>
      </li>
      <li>
        <span>
            <a routerLink='/contact'>
            Contact Me</a></span>
      </li> 
      <li>
        <span>
            <a routerLink='/home'>
            Home</a></span>
      </li> 
           
    </mat-sidenav>
  
    <mat-sidenav-content>
        <button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
  <router-outlet></router-outlet>
