<div class="container" fxFlexAlign="center">
    <div class="showcase-video">
        <video src="../../../assets/videos/pexels-olya-kobruseva-6488200.mp4" muted loop autoplay width="400px" height="500px" ></video>
    </div>
    <img class="crest-image" src="../../../assets/images/transparent crest.png" alt="">
    <div class="welcome-container" fxLayout="column" fxLayoutAlign="space-around center">
        <h1>
            Custom Wedding Crests                       
        </h1>
            <div class="quick-links">
                <a routerLink="/shop">Shop Wedding</a>
            </div>
    </div>
    
    <div class="blurb-container">
        <img src="../../../assets/images/Cacti Flat Lay.jpg" alt="cacti">
        <h1 class="blurb">
            Curate the lifestyle you want with Willow Waters' botanical illustrations and beautiful watercolors
        </h1>
    </div>

    <section class="pet-section">
    <div class="pet-portraits">
        <img class="poodle" src="../../../assets/images/poodle.jpeg" alt="">
        <img class="hercules" src="../../../assets/images/hercules.jpg" alt="">
        <img class="cavalier" src="../../../assets/images/cavalier.jpg" alt="">
    </div>
    <h1>Remeber your furry friends with a custom pet portrait.</h1>
    <a routerLink="/shop">Pet Portraits</a>
    </section>
    <div class="about">

    </div>
    <img src="../../../assets/images/wedding set.jpg" alt="wedding set">
    <div class="reviews-container">
        <h1 class="reviews-title">
            TESTIMONIALS
        </h1>
        <div class="reviews">
            <p>
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat." - Kitty
            </p>
            <p>
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." - Anne
            </p>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. " <br> -Stephanie
        </div>

    </div>
</div>
