
<header>
<div>
<mat-toolbar fxHide.xs>
  <div fxHide.gt-xs>
      <button mat-icon-button (click)="onToggleSidenav()">
          <mat-icon>menu</mat-icon>
      </button>
  </div>
  <div fxHide.xs>
      <h1 routerLink="/home">Willow Waters</h1>
  </div>
  <div fxHide.xs>
      <ul class="navigation-items">
          <li>
              <a routerLink="/shop">SHOP</a>
          </li>
          <li>
              <a routerLink="/about">ABOUT</a>
          </li>
          <li>
            <a routerLink="/contact">CONTACT</a>
          </li>
          <li>
          <a routerLink="/cart">CART</a>
          </li>
      </ul>
  </div>
</mat-toolbar>
</div>
</header>
