
@font-face {
    font-family: "Brushes";
    src: local("Brushes"), url(../../../assets/fonts/Brushes.ttf) format("truetype");
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700&display=swap');

a {
    text-decoration: none;
    color: #474748;
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
}    
 
a:hover, a:active, h1{
    color: lightgray;
}

h1 {
    text-decoration: none;
    color: #474748;
    font-family: Brushes;
    font-size: 3em;
}
 
.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    display: flex;
    box-sizing: border-box;
    padding: 0 16px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    position: fixed;
}

ul {
  display: flex;
  justify-content: space-evenly;
}
 
mat-toolbar{
    height: 130px;
    background-image:#FFFF;
}

.mat-toolbar {
    background: #FFDDF4;
    z-index: 2;
}