<div class="card-container">
    <div class="container d-flex">
        <div class="item">
            <a>
                <img src="../../../assets/images/Cacti_2 6x8.jpg" alt="">
                <h3>Shop All</h3>
            </a>
        </div>
    <div class="item">
        <a>
            <img src="../../../assets/images/mia.jpg" alt="">
            <h3>Charcoal</h3>
        </a>
    </div>
    <div class="item">
        <a>
            <img src="../../../assets/images/Multli_Prickly Pear.jpg" alt="">
            <h3>Floral & Cacti</h3>
        </a>
    </div>
    <div class="item">
        <a>
            <img src="../../../assets/images/wedding set.jpg" alt="">
            <h3>Wedding</h3>
        </a>
    </div>
    <div class="item">
        <a>
            <img src="../../../assets/images/pet_portrait.jpg" alt="">
            <h3>Custom</h3>
        </a>
    </div>
</div>
</div>
