
.card-top{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background: blanchedalmond;
    background-clip: padding-box;
    border: 1px solid cornflowerblue;
    border-radius: .25rem;
}
.item {
    position:fixed;
    width: 20%;
    height: 40%;
}

.item img {
    width: 20px;
}

.item a:hover{
    color: blue;
}